/**
 * Mosquito theme: stylesheet.
 */

body {
	font-family: FrutigerLTStd, Tahoma, Geneva, sans-serif;
	font-size: 13px;
	background: #efefef;
	margin: 0;
	padding: 0;
    color: #333333;
}

body.admin-menu {
    margin-top: 38px !important;
}
#admin-menu,
#admin-menu ul {
    line-height: 30px;
    font-size: 12px;
    background:  #333333;
}
#admin-menu li.admin-menu-icon img {
    vertical-align: middle;
}

ul.links li {
    padding: 0 0.5em 0 0;
}

.item-list .pager {
    margin: 1em 0;
}

/**
 * Wrapper.
 * Contains the entire website and keeps it in place.
 */
#wrapper {
}
    #wrapper .wrapper-spacer {
        background: url('spacer.png') top center no-repeat;
    }

/**
 * Website header.
 */
#site-header {
	/*height: 160px;*/
	background: url('header-fill.png') top center repeat-y;
	padding: 0 10px;
}
    #site-logo {
        float: left;
    }
    #site-name {
        margin: 0 0 0 128px;
        padding: 0;
        color: #ffffff;
        font-weight: normal;
        line-height: 80px;
        font-size: 3em;
        white-space: nowrap;
    }
        #site-name a {
            color: inherit;
            text-decoration: none;
        }
    #site-navigation {
        margin-left: 128px;
    }
        #site-navigation a {
            color: #ffffff;
            text-decoration: none;
            font-size: 1.15em;
        }

/**
 * Website content.
 */
#site-content {
}
/**
 * Website content header: contains page title and tabbed navigation.
 */
#content-header {
	/*height: 40px;*/
	padding: 0;
	background: #333333;
	color: #ffffff;
	margin-bottom: 10px;
}
#page-title {
	float: left;
	margin: 0 40px 0 20px;
	padding: 0;
	line-height: 40px;
}
/**
 * Breadcrumb.
 */
#breadcrumb {
    margin-left: 20px;
    padding: 4px 4px 4px 0;
}
#breadcrumb a {
    color: inherit;
    text-decoration: none;
}
/**
 * Navigation tabs.
 */
#context-navigation {
	padding-top: 4px;
}
#context-navigation ul.tabs li {
	float: left;
	border: 0;
	padding: 0;
	margin: 0;
}
#context-navigation ul.tabs li a {
	display: block;
	background: inherit;
	border: 0;
	margin: 0;
	padding: 0 20px;
}
#context-navigation ul.primary {
	border: 0;
	margin: 0;
	padding: 0;
	float: left;
}
#context-navigation ul.primary li a {
	height: 36px;
	line-height: 36px;
	color: inherit;
}
#context-navigation ul.primary li a.admin {
	font-style: italic;
}
#context-navigation ul.primary li.active a,
#context-navigation ul.primary li a.active {
	background: #ffffff;
	color: #333333;
}
#context-navigation ul.primary li a:hover {
	background: #efefef;
	color: #333333;
}
#context-navigation ul.secondary {
	clear: left;
	border: 0;
	border-bottom: 2px solid #333333;
    background: #ffffff;
	margin: 0;
    padding: 0;
	height: 34px;
}
#context-navigation ul.secondary li a {
	/*margin-bottom: 10px;*/
	border-right: 1px solid #dddddd;
	border-bottom: 2px solid transparent;
	line-height: 34px;
    height: 34px;
	color: #333333;
}
#context-navigation ul.secondary li a.active {
	color: #bf0000;
	border-bottom: 2px solid #bf0000;
}
#context-navigation ul.secondary li a:hover {
	color: #bf0000;
}
/**
 * Website content: status messages.
 */
#messages {
    margin-bottom: 10px;
}
#messages .messages {
    border:  1px solid #ffff00;
    background: #fdfdae;
    padding: 10px;
    margin-bottom: 10px;
}
#messages .warning {
    border-color:  #ff6600;
    background: #ffcb98;
}
#messages .error {
    border-color:  #ff0000;
    background: #eebbbb;
}
/**
 * Website content: help message.
 */
#help {
    font-size: 0.95em;
    line-height: 1.1em;
    color: #333333;
    margin-bottom: 1em;
}
/**
 * Website content: actual content.
 */
#content {
	padding: 10px;
	clear: both;
}
/**
 * Website content: content elements.
 */
#content table {
	width: 100%;
}
#content thead th {
	border-bottom: 1px solid #bf0000;
	padding: 4px;
	white-space: nowrap;
}
#content tbody {
    border: 0 none;
}
#content tbody tr {
    border:  0 none;
}
#content tbody tr.odd {
    background: none;
}
#content tbody tr.even {
	background: #efefef;
}
#content tbody td {
	padding: 4px;
	border-bottom: 1px solid #dddddd;
}
#content tbody td.numeric {
	text-align: right;
	width: 48px;
	white-space: nowrap;
}
#content tbody td.date {
    text-align: left;
    width: 96px;
    white-space: nowrap;
}
#content tbody tr.active td,
#content tbody tr td.active {
    color: #bf0000;
    background: none;
}
#content tbody tr td.winner {
    font-weight: bold;
}
#content a {
	color: #bf0000;
    text-decoration: none;
}
/**
 * Scoreboard
 */
#content .result .scoreboard .winner .score {
    background: #bf0000;
}
/**
 * Content sections
 */
#content section {
    margin-bottom: 20px;
}
#content section h3 {
    font-size: 1.25em;
    padding: 2px 4px;
    border-bottom:  2px solid #bf0000;
    margin: 0 0 10px 0;
}
#content article h3 {
    border: 0 !important;
    color: #bf0000;
}
#content article .node-meta {
    color: #666666;
    font-size: 0.9em;
}
#content section.profile-category {}
#content aside.block dl,
#content section.profile-category dl {
    margin: 0 0 20px 0;
}
#content aside.block dt,
#content section.profile-category dt {
    font-weight: bold;
}
#content aside.block dd,
#content section.profile-category dd {
    margin: 2px 0 10px 0;
}

#content address {
    font-style: normal;
    line-height: 1.3em;
}
#content address h4 {
    margin: 0;
}
#content article.node {
    margin-bottom: 1em;
}
/**
 * Comments
 */
#content article.comment {
    border-bottom: 1px solid #bf0000;
    margin-bottom: 1em;
}
#content article.comment header .submitted {
    font-size: 0.9em;
    color: #666666;
}
#content article.comment footer {
    border-top: 1px solid #dddddd;
    padding: 0.5em;
    font-size: 0.9em;
}
/**
 * Linkroll
 */
#content .view-links .views-row-even a {
    color: #333333;
}
/**
 * Image gallery
 */
#content .view-image-viewer .views-row {
    float: left;
}
#content .view-image-viewer .views-row a.image-thumbnail {
    border: 1px solid #dddddd;
    padding: 4px;
    margin-right: 4px;
    display: block;
}
#content .view-image-viewer .views-row a.image-thumbnail img {
    display: block;
}

/**
 * Columns layout.
 */
#content .column {
    float: left;
}
#content .column:first-child {
    margin-left: 0 !important;
}
#content .two-column-layout .column {
    width: 460px;
    margin-left: 10px;
}
#content .three-column-layout .column {
    width: 302px;
    margin-left: 12px;
}

/**
 * Blocks.
 */
#content aside.block {
    margin-bottom: 20px;
}
#content aside.block header h3 {
    font-size: 1.25em;
    padding: 2px 4px;
    border-bottom:  2px solid #bf0000;
    margin: 0 0 10px 0;
}

/**
 * TinyMCE editor field.
 */
.mceContentBody {
    background: #fff;
}

/**
 * Website footer.
 */
#site-footer {
	background: url('footer.png') top center no-repeat;
	padding: 20px 10px;
	font-size: 0.90em;
	color: #999999;
}
    #site-footer a {
        color: inherit;
    }
    #footer-message {
        text-align: center;
    }